@import "variables/police";

.header {
  padding: 10px;

  &__title {
    margin-top: 30px;
    font-family: $font-primary;
    color: white;
    letter-spacing: 5px;
    font-size: 80px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
  }

  &__title--nom {
color: white;
font-family: $font-primary;
text-align: center;
margin: 0;
  }

  &__status {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    margin: 15px 0 0 25px;
    position: fixed;
    color:transparent;
    background-color: grey;
  }

  &__status--connected {
    background-color: green;
  }

  &__user {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid black;
  }

  &__link--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    position: fixed;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    padding: 20px;
    border-radius: 5px;
    animation: apparition 80ms ease-out;
  }

  &__link {
    font-family: $font-secondary;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }

  &__link--hidden {
    display: none;
    transition: 2s ease-in-out;
  }

  &__button--fixed {
    position: fixed;
  }

  &__ancre--container {
    display: flex;
    gap: 10px;
  }

  &__ancre {
    color: black;
    text-decoration: none;
  }

  &__button {
    font-family: $font-secondary;
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__research {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @keyframes apparition {
    0% {
      max-height: 0;
      opacity: 0;
    }
    100% {
      max-height: 100px;
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 3.4rem;
    }
  }

  @media (max-width: 435px) {
    &__title {
      font-size: 2rem;
    }

    &__status {
      width: 15px;
      height: 15px;
      margin: 30px 0 0 0;
    }

    &__nav--research {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .fa-bars {
      position: fixed;
      z-index: 1000;
      color: white;
      font-size: large;
    }

    &__button--fixed {
      display: none;
    }
  }
}
