$color-primary: black;
$color-secondary: rgba(255,255,255);
$color-third: darkred;
$green-online: #4caf50;
$grey-offline: #9e9e9e;
$color-annonce: yellow;
$color-black-fixed: black;
$color-white-fixed: white;