@use "../variables/police" as police;
@use "../variables/color" as color;

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background-color: color.$color-primary;
  border-radius: 8px;

  &__title {
    color: color.$color-secondary;
    font-family: police.$font-primary;
    text-align: center;
    font-size: 50px;
  }

  &__label {
    color: color.$color-secondary;
    margin-bottom: 6px;
    font-weight: 600;
  }

  &__button {
    background-color: color.$color-third;
    color: color.$color-white-fixed;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  &__button--space {
    margin-bottom: 100%;
  }

  &__input {
    width: 90%;
    margin-bottom: 15px;
    padding: 8px 20px 8px 15px;
    border-radius: 4px;
    border: 1px solid color.$color-secondary;
    background-color: color.$color-secondary;
    color: color.$color-primary;
    font-size: 1rem;
    resize: vertical;
  }

  &__input--container {
    position: relative;
  }

  &__toggle--password {
    position: absolute;
    top: 20px;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__input::placeholder {
    color: color.$color-secondary;
  }

  &__error {
    background-color: color.$color-third;
    color: color.$color-annonce;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border-radius: 50px;
  }

  @media (max-width: 420px) {
    &__title {
      font-size: 40px;
    }

    &__input {
      width: 90%;
      padding: 8px 20px 8px 0px;
    }
  }
}
